@import url("variables.css");

nav {
    background-color: var(--main-col) !important;
}

body:not(footer) {
    background: url("../images/blurry-gradient-haikei.svg");
    /* color: #fff; */
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen and (max-width: 376px) {
    .about-header {
        background-image: url("../images/blob-scene-haikei.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }

}

.about-header {
    background: url("../images/blob-scene-haikei.svg");
    /* color: #fff; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}

.team-img {
    max-width: 100%;
}

.team-pic {
    height: 250px;
    width: 250px;
    border-radius: 15px;
}

.team-item {
    max-width: 300px;
    background-color: #fff !important;
    /* background-color: transparent!important; */
    perspective: 1000px;
    color: #000;
}

.social-icon {
    flex: 1;
    margin: 0px auto;
}

.foot-item {
    flex: 1;
    padding: 1rem;
}

  .team-img {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    
  }
  
  .team-item:hover .team-img, .team-item:active .team-img, .team-item:focus .team-img, .team-img:focus-within .team-img {
    visibility: hidden;
    transform: rotateY(180deg);
  }
  .team-item:hover .desc, .team-item:active .desc, .team-item:focus .desc, .team-img:focus-within .desc{
    visibility: visible;
    transform: rotateY(180deg);
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
  }

  .desc {
    display: none;
    color: #000;
    transform: rotateY(0deg);
    border-radius: 15px;
  }